@font-face {
  font-family: bankgothic;
  src: url('../fonts/bankgothic.ttf');
}

@font-face {
  font-family: pcdown;
  src: url('../fonts/pdown.ttf');
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(35, 35, 35, 0.75); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(11, 93, 189); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(11, 93, 189); 
}

.menu {
  border-radius: 10px 10px 0px 10px;
  box-shadow : 0px 0px 20px 0px #000;
  font-family: 'Calibri', sans-serif; 
  min-width  : 300px;
  color      : #fff;
  /*box-shadow : 0px 0px 50px 0px #000;*/
  position   : absolute;
  text-transform: uppercase;
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .head {
  border-radius: 10px 10px 0px 0px;
  -border-top: 2px solid rgba(14, 113, 139, 0.75);
  -border-bottom: 2px solid rgba(14, 113, 139, 0.75);
  background: rgba(11, 93, 189, 0.90);
  box-shadow : 0px 0px 0px 0px #000;
  color:			#fff;
  text-align      : center;
  height          : 40px;
  line-height     : 40px;
}

.menu .menu-items {
	max-height: 600px;
	overflow-y: auto;
  border-radius: 0px 0px 0px 10px;
  font-size: 15px;
  box-shadow : 0px 0px 50px 0px #000;
}

.menu .menu-items .menu-item {
  height          : 40px;
  display         : block;
  background-color: rgba(25, 25, 25, 0.85);
  -box-shadow      : inset 1px 0px 0px 1px rgba(45, 45, 45, 0.75);
  height          : 32px;
  line-height     : 32px;
  color           : #eee;
  text-align      : center;
}

.menu .menu-items .menu-item.selected {
  background: rgba(55, 55, 55, 0.9);
  border-bottom: 1.5px solid rgba(11, 93, 189, 0.75);
} 